
*.o

build/*

icebergcoin-Qt.app/*

Makefile*

src/obj/*
src/obj/zerocoin/*
*.qm
qrc_icebergcoin.cpp
icebergcoin-qt.pro.user

*.tar.gz

*.exe
*.zip
*.Debug
*.Release
icebergcoin-qt_plugin_import.cpp
src/icebergcoin
src/icebergcoind
src/icebergcoin-cli
src/test/test_icebergcoin
src/qt/test/test_icebergcoin-qt

Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
src/icebergcoin-config.h
src/icebergcoin-config.h.in
src/build-aux/
src/stamp-h1
share/setup.nsi
share/qt/Info.plist

src/qt/*.autosave
src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

.deps
.dirstamp
*.autosave
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.icebergcoin
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

# Compilation and Qt preprocessor part
*.qm
Makefile*
icebergcoin-qt
Icebergcoin-Qt.app

# Unit-tests
Makefile.test
icebergcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

#lcov
*.gcno
/*.info
test_icebergcoin.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-icebergcoind-for-test.sh
qa/pull-tester/build-tests.sh

!src/leveldb*/Makefile

# Windows specific
Thumbs.db

*.tar.gz

*.exe
src/icebergcoin
src/icebergcoind
src/icebergcoin-cli
src/test/test_icebergcoin
src/qt/test/test_icebergcoin-qt

Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
src/config/icebergcoin-config.h
src/config/icebergcoin-config.h.in
src/config/stamp-h1
src/build-aux/
share/setup.nsi
share/qt/Info.plist

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

.deps
.dirstamp
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.o-*
*.patch
.icebergcoin
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

# Compilation and Qt preprocessor part
*.qm
Makefile
icebergcoin-qt
Icebergcoin-Qt.app

# Unit-tests
Makefile.test
icebergcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

#lcov
*.gcno
/*.info
test_icebergcoin.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-icebergcoind-for-test.sh
qa/pull-tester/build-tests.sh

!src/leveldb*/Makefile
